html
   head
      title=title
      link(
      href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',
      rel='stylesheet'
      )
   body
      div.container

         div.page-header
            h1 Please Enter your information

         if errors
            each error in errors
               div.alert.alert-danger
                  span #{error.error}
         if saved
            div.alert.alert-success
               span Your profile has been saved
         form.login-form.form-horizontal(method='post', role='form')
            input(name='_csrf', type='hidden', value=csrfToken)

            div.form-group
               label.col-sm-4 Door tag Id
               div.col-sm-8
                  input.form-control(
                  placeholder='e.g. 15',
                  required=true,
                  name='tag_id',
                  type='number',
                  value=tag_id)
               div.form-group
               label.col-sm-4 First Name
               div.col-sm-8
                  input.form-control(
                  placeholder='e.g. Adam',
                  required=true,
                  name='fname',
                  type='text',
                  value=fname)
            div.form-group
               label.col-sm-4 Last Name
               div.col-sm-8
                  input.form-control(placeholder='e.g. Smith',
                  required=true,
                  name='lname',
                  type='text',
                  value=lname)
            div.form-group
               label.col-sm-4 Age
               div.col-sm-8
                  input.form-control(placeholder='21',
                  required=true,
                  name='age',
                  type='number',
                  value=age)
            div.form-group
               label.col-sm-4 Email
               div.col-sm-8
                  input.form-control(placeholder='nkhalil@uh.edu',
                  required=true,
                  name='email',
                  type='text',
                  value=age)
            div.form-group
               label.col-sm-4 Gender
               div.col-sm-8
                  select.form-control(name='gender')
                     option(value='') Please select your gender
                     option(value='male') Male
                     option(value='female') Female
            div.form-group
               label.col-sm-4 Password
               div.col-sm-8
                  input.form-control(placeholder='',
                  required=true,
                  name='pass',
                  type='password',
                  value=lname)
            div.form-group
               label.col-sm-4 Confirm Password
               div.col-sm-8
                  input.form-control(placeholder='',
                  required=true,
                  name='cpass',
                  type='password',
                  value=lname)
            div.form-group
               div.col-sm-offset-4.col-sm-8
                  button.login.btn.btn-primary(type='submit') Save
            div.pull-right
               a(href="/") Return to home page